includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: true
  level: 4
  paths:
  		- src